@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0.00 0.00% 100.00%;
    --foreground: 180.00 100.00% 2.75%;
    
    --primary: 181.30 97.18% 27.84%;
    --primary-foreground: 184.29 38.89% 92.94%;
    
    --card: 180.00 36.84% 96.27%;
    --card-foreground: 180.00 100.00% 2.75%;
    
    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 180.00 100.00% 2.75%;
    
    --secondary: 182.86 38.18% 89.22%;
    --secondary-foreground: 0.00 0.00% 0.00%;
    
    --muted: 184.29 38.89% 92.94%;
    --muted-foreground: 0.00 0.00% 40.00%;
     
    --accent: 184.29 38.89% 92.94%;
    --accent-foreground: 180.00 100.00% 4.12%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 182.14 37.84% 85.49%;
    --input: 183.53 15.60% 78.63%;
    --ring: 181.30 97.18% 27.84%;
    
    --chart-1: 181.30 97.18% 27.84%;
    --chart-2: 181.03 59.39% 38.63%;
    --chart-3: 181.35 37.24% 53.14%;
    --chart-4: 181.58 37.62% 60.39%;
    --chart-5: 180.97 37.35% 67.45%;
    
    --radius: 0.5rem;    
  }
  .dark {
    --background: 0.00 0.00% 0.00%;
    --foreground: 182.86 38.18% 89.22%;
    
    --primary: 181.30 97.18% 27.84%;
    --primary-foreground: 184.29 38.89% 92.94%;
    
    --card: 180.00 20.00% 4.90%;
    --card-foreground: 182.86 38.18% 89.22%;
    
    --popover: 0.00 0.00% 0.00%;
    --popover-foreground: 182.86 38.18% 89.22%;
    
    --secondary: 181.25 96.00% 9.80%;
    --secondary-foreground: 0.00 0.00% 100.00%;
    
    --muted: 0.00 0.00% 9.80%;
    --muted-foreground: 0.00 0.00% 50.20%;
     
    --accent: 181.25 96.00% 9.80%;
    --accent-foreground: 182.86 38.18% 89.22%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 182.14 100.00% 5.49%;
    --input: 180.00 15.56% 17.65%;
    --ring: 181.30 97.18% 27.84%;
    
    --chart-1: 181.30 97.18% 27.84%;
    --chart-2: 181.54 96.69% 23.73%;
    --chart-3: 181.33 97.83% 18.04%;
    --chart-4: 181.58 97.44% 15.29%;
    --chart-5: 180.97 96.88% 12.55%;
    
    --radius: 0.5rem;    
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}